name: Build code, run unit test, run SAST, SCA, DAST security scans for NodeJs App

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: SAST scan
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
      - run: npm install
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
        with:
          args: >
            -Dsonar.organization=hemanthmaram
            -Dsonar.projectKey=HemanthMaram_cypress_ci_cd

  security:
    runs-on: ubuntu-latest
    needs: build
    name: SCA scan
    steps:
      - uses: actions/checkout@v3
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  cypress-run:
    runs-on: ubuntu-latest
    needs: security
    name: Run Cypress Feature Files
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Run All Cypress Tests
        run: npx cypress run --spec 'cypress/e2e/featureFiles/**/*.feature'

  cucumber-report:
    runs-on: ubuntu-latest
    needs: cypress-run
    name: Generate and Upload Cucumber HTML Report
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Generate HTML Report
        uses: mt185252/cucumber-html-report-generator@v1
        with:
          report-theme: 'hierarchy'
          json-file-path: 'cypress/cucumber-json/cucumberJsonReportvalidatemicroService.cucumber.json'

      - name: Upload HTML Report as an Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-html-report
          path: 'cypress/cucumber-json/cucumberJsonReportvalidatemicroService.cucumber.html'
          if-no-files-found: error
          retention-days: 2

  sendEmail:
    runs-on: ubuntu-latest
    needs: cucumber-report
    name: Send Email with Cucumber HTML Report
    steps:
      - name: Download HTML Report
        uses: actions/download-artifact@v4
        with:
          name: cucumber-html-report

      - name: Send Email
        uses: hilarion5/send-mail@v1
        with:
          smtp-server: smtp.gmail.com
          smtp-port: 465  
          smtp-secure: true
          from-email: ${{ secrets.EMAIL_USERNAME }}
          to-email: hmaram21@yahoo.com
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Cypress Test Report
          body: |
            Hi Team,

            The Cypress tests have been completed successfully. The SonarQube analysis and Cypress test reports are attached below:

            SonarQube Report: [SonarCloud Project Link](https://sonarcloud.io/dashboard?id=HemanthMaram_cypress_ci_cd)

            Cucumber HTML Report is attached for your reference.

            Thanks,
            Hemanth Reddy Maram
            M.no: +917036735326
          attachments: |
            [
              {
                "path": "downloads/cucumberJsonReportvalidatemicroService.cucumber.html"
              }
            ]